.headTitle{
    
}

/* 顶部的标题栏ul */
.topNavigationUl{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    background-color: #66CCFF;
}

.topNavigationUl li{
    position: relative;
}

.topNavigationUl li:hover {
    top: -5px;
}

.topNavigationUl li a{
    font-size: large;
    color:  #FFFFFF;
    text-decoration: none;
}
.content{
    width: 100%;
    height: 50%;
    align-content: center;
}

/* 介绍 */
.carousel{
    display: flex;
    justify-content: center;
}

.carousel img{
    position: relative;
    display: block;
    margin: 0 auto;
}

.carousel p{
    display: block;
    font-size: large;
}


/* 人物介绍 */

.team li{
    display: flex;
    justify-content: space-around;
}

.team li p{
    font-size: large;
    color: #66CCFF;
    width: 100%;
    text-align: center;
}



html{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

body{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}


